
<header class="header">
    <div class="navbar">
        <div class="container">
            <div class="navbar_wrap">
                <div class="navbar_wrap_title">
                    <h3 class="navbar_wrap_title">
                        Broom.MVC
                    </h3>
                    <span class="navbar_wrap_descriptino">
                        We are building a future
                    </span> <!-- /.navbar_wrap_descriptino -->
                    <!-- /.navbar_wrap_title -->
                </div>
                <div class="navbar_wrap_header_menu">
                    <nav class="navbar_wrap_list">
                        <ul class="navbar_wrap_list_ul">
                            <li class="navbar_wrap_list_li"><a href="javascript:void(0)" class="navbar_wrap_list_link">About</a> <!-- /.navbar_wrap_list_link --></li>
                            <!-- /.navbar_wrap_list_li -->
                            <li class="navbar_wrap_list_li"><a href="javascript:void(0)" class="navbar_wrap_list_link">Features</a> <!-- /.navbar_wrap_list_link --></li>
                            <!-- /.navbar_wrap_list_li -->
                            <li class="navbar_wrap_list_li"><a href="javascript:void(0)" class="navbar_wrap_list_link">Pricing</a> <!-- /.navbar_wrap_list_link --></li>
                            <!-- /.navbar_wrap_list_li -->
                            <li class="navbar_wrap_list_li"><a href="javascript:void(0)" class="navbar_wrap_list_link">FAQS</a> <!-- /.navbar_wrap_list_link --></li>
                            <!-- /.navbar_wrap_list_li -->
                            <li class="navbar_wrap_list_li"> <button type="button" class="navbar_wrap_menu_sign_in">Sign In </button> <!-- /.navbar_wrap_menu_sign_in --><!-- /.navbar_wrap_list_link --></li>
                            <!-- /.navbar_wrap_list_li -->
                        </ul>
                        <!-- /.navbar_wrap_list_ul -->
                    </nav>
                    <!-- /.navbar_wrap_list -->
                </div>
                <!-- /.navbar_wrap_header_menu -->
                <!-- /.navbar_wrap_title -->
            </div>
            <!-- /.navbar_wrap -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.navbar -->
    <div class="hero">

    </div>
    <!-- /.hero -->
</header>
<!-- /.header -->
